<h1>New Vendors</h1>
<p>Add a new vendor below</p>

<form action="/vendors" method="post">
  <input id="vendorName" name="vendorName" placeholder="Enter New Vendor Name" type="text">
  <input id="vendorDescription" name="vendorDescription" placeholder="About the Vendor" type="text">
  <button type="submit">Add New Vendor</button>
</form>

<p><a href="/vendors">Navigate back to Vendors List.</a></p>
<p><a href="/">Navigate back to Home.</a></p>